<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prova 1 sito AI</title>
</head>
<body>
    <form action="/ask_ai/" method="post">
        {% csrf_token %}
        <label for="question">Your Question: </label>
        <input id="question" type="text" name="question" value="">
        <input type="submit" value="Submit">
    </form>
    <div>
        {{question}}
    </div>
</body>
</html>